* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body, .container {
  font-family: "Poppins", sans-serif;
  color: #171717;
  
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1024px;
  min-width: 1024px;
  margin:auto;
}

.bd {
  padding-bottom: 30px;
  padding-top: 30px;
}

.logo__img {
  width: 50px;
  border-radius: 10px;
}

.logo__text {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}

.container__subcontainer {
  justify-content: flex-start;
}

.container__subcontainer--img {
  width: 603px;
  height: 314px;
  object-fit: cover;
  border-radius: 20px;
}

.card__content--date {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
.card__content--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
}
.card__footer{
  display: flex;
  align-items: center;
  padding-top: 30px;
}

.card__footer--img {
  max-width: 35px; 
  margin-right: 0.5rem;
  border-radius: 50%;
}
.card__footer--title{
  font-weight: 400;
}
.container__subcontainer2 {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  
}
.novItems {
  padding-bottom: 32px;
}

.novItems__img,
.novItems__cont {
  display: inline-block;
  vertical-align: top;
}

.novItems__img--cardImg {
  width: 145px;
  height: 110px;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.items__cont--date {
  font-size: 16px;
  font-weight: 400;
}
.items__cont--title{   
  font-size: 20px;
  font-weight: 700;
}
.items__cont--cardImgFooter {
  width: 25px;
  border-radius: 50%;
  float: left;
  margin-right: 0.5rem;
  margin-top: 12px;
}
.items__cont--cardTitleFooter{
  font-weight: 400;
  padding-top: 14px;
}

.popItems {
  padding-bottom: 25px;
}

.popItems__img
.popItems__cont {
  vertical-align: top;
}

.popItems__img--cardImg {
  width: 298px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
  margin-top: 20px
}

.container__subcontainer--popularColumn {
  display: inline-block; 
  padding-right: 25px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 80px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 17px;
}

.box__img {
  width: 60px;
  height: 55px;
}

.box__title {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}

.html {
  background-color: #e93e30;
}
.js {
  background-color: #f7e018;
}

.css {
  background-color: #299ed5;
}

.react {
  background-color: #292C33;
}

.vue {
  background-color: #42b883;
}

.bootstrap {
  background-color: #563d7c;
}

.ver-mas {
  color: #171717;
}


.right-content {
  display: inline-flex;
  width: 70%;
  justify-content: flex-end;
}


